<h1>Log In Page</h1>

<%= form_tag @user, url: sessions_path, method: :post do |f| %>
  Name: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Log In" %>
 <% end %>